<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta zhet="utf-8">
	<title>{$page_title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<link href="/assets/3rd-party/uikit/dist/css/uikit.min.css" rel="stylesheet">
	<!--
		<link href="/assets/3rd-party/codemirror/lib/codemirror.css" rel="stylesheet">
		-->
	<link href="/assets/style/dashboard.css" rel="stylesheet">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body class="uk-light">
	<div id="app" v-cloak>
		<dashboard class="uk-flex uk-flex-center">
			<sidebar>
				<!--
                    <sidebar-header>
                        <div style="height: 80px"></div>
                    </sidebar-header>
					-->
				<sidebar-content>
					<sidebar-menu v-for="(menu_child, menu_i) in menu" :key="menu_i" :label="menu_child.label" :class="[menu_child.class, 'menu:' + menu_child.name]">
						<sidebar-menu-item v-for="(menu_item, item_i) in menu_child.children" :key="item_i" :label="menu_item.label" :icon="menu_item.icon" :class=" ['menu:' + menu_child.name + ':' + menu_item.name, (menu_current === menu_item.name) ? 'ui-toggle' : null] " @click.native=" menu_current = menu_item.name "></sidebar-menu-item>
					</sidebar-menu>
				</sidebar-content>
				<!--
                    <sidebar-footer>
                    </sidebar-footer>
					-->
			</sidebar>
			<dashboard-content>
				<dashboard-header label="编辑博文"></dashboard-header>
				<container>
					<panel class="new-post">
						<form action="#">
							<div class="form-row">
								<input class="uk-input" type="text" placeholder="标题 ...">
							</div>

							<div class="form-row new-post-slug">
								<p>固定连接：<span>http://dev.io/your-new-post</span></p>
							</div>

							<div class="form-row">
								<ul uk-tab>
									<li><a href="#">内容</a></li>
									<li><a href="#">分类</a></li>
									<li><a href="#">数据</a></li>
								</ul>

								<ul class="uk-switcher uk-margin">
									<li>
										<ckeditor5 id="new-post-editor" placeholder="请尽情书写内容 ..." element="div">
											<p>测试一下</p>
											<p>段落说一说</p>
											<p><img src="https://unsplash.it/801/601" alt="示例图片"></p>
											<p>分割线</p>
											<blockquote>
												<p>春眠不觉晓，处处闻啼鸟。</p>
												<p>夜来风雨声，花落知多少。</p>
											</blockquote>
										</ckeditor5>
									</li>
									<li>
										<div class="ui-tab-container" uk-grid>
											<div class="uk-width-1-2@s uk-form-horizontal" v-for="n in 2">

												<div class="uk-margin">
													<label class="uk-form-label" for="form-h-select">分类</label>
													<div class="uk-form-controls">
														<select class="uk-select uk-form-width-large" id="form-h-select">
							                                    <option>Option 01</option>
							                                    <option>Option 02</option>
							                                </select>
													</div>
												</div>

												<div class="uk-margin">
													<label class="uk-form-label" for="form-h-textarea">Textarea</label>
													<div class="uk-form-controls">
														<textarea class="uk-textarea uk-form-width-large" id="form-h-textarea" rows="5" placeholder="Some text..."></textarea>
													</div>
												</div>

												<div class="uk-margin">
													<span class="uk-form-label">Radio</span>
													<div class="uk-form-controls uk-form-controls-text">
														<label><input class="uk-radio" type="radio" name="radio1"> Option 01</label><br>
														<label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
														<div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
															<label><input class="uk-radio" type="radio" name="radio2"> A</label>
															<label><input class="uk-radio" type="radio" name="radio2"> B</label>
															<label><input class="uk-radio" type="radio" name="radio2"> C</label>
															<label><input class="uk-radio" type="radio" name="radio2"> D</label>
														</div>
													</div>
												</div>

												<div class="uk-margin">
													<span class="uk-form-label">Checkbox</span>
													<div class="uk-form-controls uk-form-controls-text">
														<label><input class="uk-checkbox" type="checkbox"> Option 01</label><br>
														<label><input class="uk-checkbox" type="checkbox"> Option 02</label>
														<div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
															<label><input class="uk-checkbox" type="checkbox"> A</label>
															<label><input class="uk-checkbox" type="checkbox"> B</label>
															<label><input class="uk-checkbox" type="checkbox"> C</label>
															<label><input class="uk-checkbox" type="checkbox"> D</label>
														</div>
													</div>
												</div>

												<div class="uk-margin">
													<label class="uk-form-label" for="form-h-multiple">Multiple</label>
													<div class="uk-form-controls">
														<select class="uk-select uk-form-width-large" id="form-h-multiple" multiple>
							                                    <option>Option 01</option>
							                                    <option>Option 02</option>
							                                    <option>Option 03</option>
							                                    <option>Option 04</option>
							                                </select>
													</div>
												</div>

												<div class="uk-margin">
													<label class="uk-form-label" for="form-h-range">Range</label>
													<div class="uk-form-controls uk-form-controls-text">
														<input class="uk-range uk-form-width-large" id="form-h-range" type="range" value="2" min="0" max="10" step="0.1">
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>

									</li>
								</ul>

							</div>
						</form>
					</panel>
				</container>
			</dashboard-content>
		</dashboard>
	</div>

	<!--
		<script src="/assets/3rd-party/codemirror/lib/codemirror.js"></script>
		<script src="/assets/3rd-party/codemirror/mode/htmlmixed/htmlmixed.js"></script>

        <script src="/assets/3rd-party/tinymce/tinymce.min.js"></script>
		-->
	<!--script src="/assets/3rd-party/ckeditor/ckeditor.js"></script-->
	<script src="/assets/script/ckeditor5.js"></script>
	<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.1/classic/ckeditor.js" type="text/html"></script>
	<script src="/assets/3rd-party/vue/dist/vue.js"></script>
	<script src="/assets/3rd-party/jquery/dist/jquery.min.js"></script>
	<script src="/assets/3rd-party/uikit/dist/js/uikit.min.js"></script>
	<script src="/assets/3rd-party/uikit/dist/js/uikit-icons.min.js"></script>
	<script src="/assets/script/frontend-index-index.js"></script>
	<script src="/assets/script/backend/menu.js"></script>
	<!--
		<script src="/assets/script/backend/component.js"></script>
		-->
	<script>
		/*function ajax() {
										tinymce.util.XHR.send({
										   url: 'someurl',
										   success: function(text) {
										      console.debug(text);
										   }
										});
									}*/

		function token(len) {　　
			len = len || 32;　　
			var zh = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
			zh += zh.toLowerCase() + '1234567890';
			zh += zh + zh;　　
			var max = zh.length;　　
			var t = '';　　
			for (i = 0; i < len; i++) {
				if (i === 1) {
					zh += '_-';
					max = zh.length;
				}　　
				t += zh.charAt(Math.floor(Math.random() * max));
			}
			return t;
		}

		App.vue('ckeditor5', {
			mounted: function() {
				App.editor = ClassicEditor
					.create(this.$el)
					.then(editor => {
						console.log(editor);
					})
					.catch(error => {
						console.error(error);
					});
			}
		});

		App.run();
	</script>

	<script type="text/html" data-vue="dashboard">
		<div class="ui-dashboard">
			<slot></slot>
		</div>
	</script>

	<script type="text/html" data-vue="sidebar">
		<div class="ui-sidebar">
			<slot></slot>
		</div>
	</script>

	<script type="text/html" data-vue="sidebar-header">
		<div class="ui-sidebar-header">
			<slot></slot>
		</div>
	</script>

	<script type="text/html" data-vue="sidebar-content">
		<div class="ui-sidebar-content">
			<slot></slot>
		</div>
	</script>

	<script type="text/html" data-vue="sidebar-footer">
		<div class="ui-sidebar-footer">
			<slot></slot>
		</div>
	</script>

	<script type="text/html" data-vue="sidebar-menu" data-prop="label">
		<ul class="ui-sidebar-menu">
			<div class="ui-sidebar-menu-label" v-if="label">{{ label }}</div>
			<slot></slot>
		</ul>
	</script>

	<script type="text/html" data-vue="sidebar-menu-item" data-prop="label, icon">
		<li class="ui-sidebar-item">
			<div class="ui-sidebar-item-label" v-if="label">
				<svg-icon :icon="icon" v-if="icon"></svg-icon>
				<span>{{ label }}</span>
			</div>
			<slot></slot>
		</li>
	</script>

	<script type="text/html" data-vue="dashboard-content">
		<div class="ui-content">
			<slot></slot>
		</div>
	</script>

	<script type="text/html" data-vue="dashboard-header" data-prop="label">
		<div class="ui-content-header" v-if="label">{{ label }}</div>
	</script>

	<script type="text/html" data-vue="container">
		<div class="ui-container">
			<slot></slot>
		</div>
	</script>

	<script type="text/html" data-vue="panel">
		<div class="ui-panel">
			<slot></slot>
		</div>
	</script>

	<script type="text/html" data-vue="tinymce" data-prop="target">
		<textarea class="ui-tinymce uk-textarea" rows="8"></textarea>
	</script>

	<script type="text/html" data-vue="ckeditor" data-prop="target">
		<textarea class="ui-ckeditor uk-textarea" rows="8"><slot></slot></textarea>
	</script>

	<script type="text/html" data-vue="ckeditor5" data-prop="target, element">
		<div class="ui-ckeditor uk-textarea" v-if=" element === 'div' ">
			<slot></slot>
		</div>
		<textarea class="ui-ckeditor uk-textarea" rows="8" v-else><slot></slot></textarea>
	</script>

	<script type="text/html" data-vue="svg-icon" data-prop="href, icon">
		<svg class="ui-svg-icon">
        	<use :xlink:href=" href == undefined ? '/assets/image/dashicons.svg#' + icon : href " />
        </svg>
	</script>

</body>

</html>
